# Copy this file to .env and fill in the values.
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=portfolio_db
MONGODB_COLLECTION=contacts
